*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans;
}
body{
    display: flex;
    align-items:center;
justify-content: center;
min-height: 100vh;
background-color: #343f4f;
}

.wrapper{
    display: inline-flex;
}
.wrapper .static-txt{
     font-size: 60px;
     color: #fff;
     font-weight: 400;

}
.wrapper .dynamic-txts{
margin-left: 15px;
height: 90px ;
line-height: 80px;
/*overflow: hidden;*/
}
.dynamic-txts li{
    color:#fc6d6d;
    list-style: none;
    font-size: 40px;
    font-weight: 500;
    position: relative;   
    animation: slide 1.5s steps(10)infinite;

}

@keyframes slide{
    100%{
     top: -360px;
    }
}



.dynamic-txts li span{
    position:relative;
}

.dynamic-txts li span::after{
    content: "";
    position:absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid #fc6d6d;
    left:0;
    animation:typing 1.5s steps(10)infinite;

}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

